## Trabajando con Python

### Constantes

In [3]:
import math as mt

In [5]:
mt.pi

3.141592653589793

In [7]:
mt.e # para euler

2.718281828459045

In [8]:
mt.tau # 2 pi

6.283185307179586

In [10]:
mt.pi*2 # es lo mismo no cambia

6.283185307179586

In [12]:
tau = mt.pi*2
tau

6.283185307179586

In [13]:
mt.inf

inf

In [15]:
-mt.inf # para el negativo

-inf

In [16]:
float(5)

5.0

In [19]:
print(int(mt.pi))

3

In [20]:
print(float(mt.pi))

3.141592653589793

In [23]:
# NAN Not a number ojo y la raiz de un numero negativo no existe y el logaritmo de 0 tampoco existe.

In [28]:
mt.pow(mt.nan,0) # cualquier cosa elevada a 0 siempre da 1

1.0

### Operaciones Aritmeticas y de Redondeo

In [29]:
2+2

4

In [30]:
3-5

-2

In [31]:
3**2

9

In [32]:
1300/13

100.0

In [35]:
15%4 # cabe 3 veces el 4

3

In [36]:
15/4

3.75

In [37]:
mt.ceil(3.15) # Redondea para arriba

4

In [39]:
mt.floor(4.5677) # redondea para abajo

4

In [52]:
mt.trunc(3.4562) # trunca los decimales y deja un valor entero

3

##### como hacer notaciones matematicas: $\int_0^1 x^2 dx$

In [44]:
mt.copysign(3, -2) # le copia el signo a 2 y lo usa en 3.

-3.0

In [47]:
mt.copysign(4,-0.0) # con decimales, para que lo interprete como numero entero

-4.0

In [49]:
mt.fabs(-56) # es la funcion para devolver el valor absoluto.

56.0

In [50]:
abs(-7883) #esta es la contraparte

7883

In [56]:
2**5 # exponentes

32

In [58]:
mt.factorial(4) #4*3*2*1 util para hacer permutaciones o combinatorios

24

In [60]:
x = 5
y = 2

mt.factorial(x) / (mt.factorial(y) * mt.factorial(x-y))
# ojo que estoy sacando el factorial de 5 que es 5*4*3*2*1 y 2 = 2*1

10.0

In [63]:
mt.fmod(7,3) # Esta funcion nos da el resto de la division porque 3 cabe 2 veces en 7 y sobra 1

1.0

In [67]:
7%3 # forma analoga PERO la division tiene que ser entera, si hay numeros decimales es mejor usar fmod.

1

In [69]:
7//3 # cociente de la division entera

2

In [71]:
mt.remainder(7,3) # esta es la analoga para saber el resto de la division entera

1.0

In [73]:
mt.modf(4.46677) # separa la parte fraccional de la parte entera

(0.46677000000000035, 4.0)

In [75]:
mt.gcd(24,36) # Maximo comun divisor

12

In [76]:
mt.isfinite(2.5)

True

In [77]:
mt.isinf(4.6)

False

In [79]:
mt.isnan(4.5)

False

In [84]:
mt.isclose(mt.sqrt(2)**2,2) # para ver si son cercanos

True

In [85]:
mt.sqrt(2)**2 == 2 # no es lo mismo

False

In [88]:
mt.isclose(mt.sqrt(2)**2,2, rel_tol=1e-09) # al menos con 9 digitos exactos el resultado es cercano a 2

True

In [92]:
print(mt.sqrt(2)**2) # Ojo para ver si som iguales a los anteriores

2.0000000000000004

### Entrada y Salida de datos

In [93]:
print("Hola mundo")

Hola mundo

In [94]:
x = 7
print(x)

7

In [97]:
print("El valor con el que estamos trabajando es: " +str(x)) # hay que convertir la variable a string

El valor con el que estamos trabajando es: 7

In [99]:
texto = input("Introduzca su nombre: ")

Introduzca su nombre:  Heiner

In [100]:
texto

'Heiner'

In [102]:
numero = int(input("introduzca aqui su edad: "))

introduzca aqui su edad:  27

In [105]:
numero # ya esta definida

27

In [106]:
2**numero-20

134217708

In [107]:
type(numero)

int

In [108]:
type(texto)

str

In [109]:
x = True

In [111]:
print(x)

True

In [115]:
x == True

True

In [116]:
x == False

False

### Operadores de decision

In [121]:
x = int(input("Escriba un numero: "))

Escriba un numero:  5

In [123]:
if x == 5:
    print("Ha escrito un numero")

Ha escrito un numero

In [125]:
x = int(input("Escriba un numero: "))
if x < 5:
    print("Ha escrito menor que 5")
elif x < 10:
    print("Ha escrito un numero menor que 10 y mayor o igual que 5")
else: 
    print("El numero que ha escrito es mayor o igual a 10")

Escriba un numero:  7

Ha escrito un numero menor que 10 y mayor o igual que 5

In [126]:
x = int(input("Escriba un numero: "))
if x > 0 and x < 10:
    print("Ha escrito un numero en el rango de [0 , 10]")
else:
    print("El numero ingresado no esta dentro del rango")

Escriba un numero:  89

El numero ingresado no esta dentro del rango

In [127]:
x = int(input("Escriba un numero: "))
if x < 0 or x > 10:
    print("El numero escrito no se encuentra dentro del rango: [0,10]")

Escriba un numero:  67

El numero escrito no se encuentra dentro del rango: [0,10]

### Funciones matematicas

In [135]:
mt.exp(3) # e evelado a 3

20.085536923187668

In [136]:
mt.e**3 # ojo que no da igual por la cantidad de decimales, es mejor usar la del exponente

20.085536923187664

In [137]:
mt.pow(mt.e,3) # el pow es lo mismo que **

20.085536923187664

In [139]:
mt.expm1(1) # al resultado se le resta un 1

1.7182818284590453

In [141]:
mt.exp(1) -1  # Ojo que no dan iguales por los decimales

1.718281828459045

In [142]:
mt.exp(1e-05) -1

1.0000050000069649e-05

In [145]:
mt.expm1(1e-05) # ojo que los resultados no dan iguales

1.0000050000166668e-05

In [147]:
mt.log(12) #Logaritmo natural

2.4849066497880004

In [150]:
mt.log(12,2) # logaritmo en base 2 de 12

3.5849625007211565

In [152]:
mt.log1p(1e-5) # esta es bien mejor con la precision

9.999950000333332e-06

In [154]:
mt.log2(32)

5.0

In [157]:
mt.sin(180) # son radianes ojo

-0.8011526357338306

In [158]:
mt.cos(mt.pi)

-1.0

In [159]:
mt.tan(mt.pi/2)

1.633123935319537e+16

In [161]:
mt.asin(1) # esto esta en radianes, esto es pi medios

1.5707963267948966

In [162]:
mt.acos(1)

0.0

In [164]:
mt.atan(1) # esto son radianes.

0.7853981633974483

In [165]:
mt.degrees(0.7853981633974483) # para conversion de radianes a grados

45.0

In [169]:
mt.radians(60) # para que nos haga las conversiones de grados a radianes

1.0471975511965976

In [171]:
mt.cos(mt.radians(60))

0.5000000000000001

In [173]:
mt.hypot(3,4) # un vector que mide 5 de largo y 4 de ancho mide 5

5.0

In [177]:
mt.degrees(mt.atan2(4,3))# angulo que forma con el eje horizontal, representa un giro de 53 grados con respecto al eje horizontal

53.13010235415598

In [178]:
mt.sinh(0) # inversa para del seno

0.0

In [179]:
mt.cosh(0) # Inversa del coseno

1.0

In [180]:
mt.tanh(0) # Inversa del tangente

0.0

In [182]:
mt.erf(mt.pi) #para obtener la funcion de distribucion acumulada de la distribucion normal

0.9999911238536323

In [184]:
mt.erfc(mt.pi) # lo que le falta a la funcion de la linea 182 para llegar a 1

8.876146367641612e-06

In [186]:
mt.gamma(3) # sobre los numeros enteros generaliza el factorial y le resta 1

2.0

### Definicion de funciones en Python

In [187]:
def suma(x, y): # ojo con la indentacion
    return x + y

In [188]:
suma(2,4)

6

In [189]:
class Operaciones(object): #POO
    def suma(self, x,y):
        self.resultado = x+y
        return self.resultado

In [190]:
operInstance = Operaciones()
operInstance.suma(2,4)

6

In [203]:
def saludar():
    name = str(input("Introduzca su nombre: "))
    if name:
        print("Hola "+name)
    else: 
        print("Hola estoy programando!")

In [206]:
saludar()

Introduzca su nombre:  Heiner

Hola Heiner

In [208]:
def buscaPares():
    for x in range(10):
        if x % 2 == 0:
            return
    print("Fin de la ejecucion") # No devuelve nada

In [210]:
buscaPares()

In [213]:
def operacion(x, y):
    suma = x + y
    resta = x-y
    return(suma, resta) # se crea una tupla para devolver mas de una variable

In [214]:
operacion(2,3)

(5, -1)

### Argumentos variables y lambdas

In [215]:
def suma(*args): #asterisco porque no sabemos cuantos argumentos vienen en el vector
    return sum(args)

In [216]:
suma(1,46,95,4)

146

In [217]:
suma(2,5)

7

In [220]:
def suma_cuadrados(*datos):
    total = 0
    for d in datos:
        total = total + d**2 # o total += d**2
    return total

In [219]:
suma_cuadrados(2,5,7,46,1)

2195

### Funciones anonimas o lambda

In [221]:
doble = lambda x: x*2

In [222]:
doble(4)

8

In [223]:
cuadrado = lambda x: x**2

In [224]:
cuadrado(5)

25

In [225]:
suma = lambda x, y: x+y

In [226]:
suma(2,3)

5

In [227]:
from functools import reduce

In [228]:
data = [1,2,3,4,5,6,7,8,9,10] # se crea un vector

In [230]:
filter_data = list(filter(lambda x: (x*2>8), data)) # filtrado y retorna la lista

In [231]:
filter_data

[5, 6, 7, 8, 9, 10]

In [232]:
mapped_data = list(map(lambda x: x*2, data)) # convierte los resultados

In [233]:
mapped_data

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [236]:
reduced_data = reduce(lambda x, y: x+y, data) # acumula o junta los elementos y los acomoda

In [235]:
reduced_data

55